<div class="modal-header">
	<button type="button" class="close alpha80" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title">&nbsp;<%= ph.information %></h3>
</div>

<div class="modal-body m3">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="sidebar" ctrl="<%=ctrl%>" target="<%=bi.query.target%>">
			<ul id="nav">
				<% value.list.forEach(function(item) { %>
				<li class="has_sub <%= item.appCode %>" appCode="<%= item.appCode %>">
					<a href="javascript:<%=ctrl%>.showRsList('<%= item.appCode %>');">
						<%= item.appCode %><span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					</a>
				</li>
				<% }); %>
			</ul>
		</div>
		<!-- sidebar結束 -->
	</div>
	<!-- col結束 -->
</div>
<!-- modal-body結束 -->
<div class="modal-footer text-center" appCode="<%=bi.query.appCode%>" rs="<%=bi.query.rs%>">
	<button type="button" class="btn btn-white wc30" onclick="<%=ctrl%>.confirm(0);"><%= ph.clear %></button>
	<button type="button" class="btn btn-green wc30" onclick="<%=ctrl%>.confirm(1);"><%= ph.confirm %></button>
</div>
