<!-- 右側選單開始 -->
<div class="blogMenu" id="<%=bi.id%>">    
    <ul class="sidebar-menu">
        <!-- 
        <li class="searchLine">
            <input class="search" type="text" name="" placeholder="search">
            <i class="fa fa-search"></i>
        </li>
         -->
        <li class="title">
            <span><%= ph.overview %></span>
        </li>
        <% if(value && value.list.length > 0) { %>
            <% value.list.forEach(function(item) { %>
            <li class="blogItem" ngID="<%=item.ngID%>">
                <%  
                    var  time = new Date(item.mdTime),
                         pn = bi.query._pn,
                         ps = bi.query._ps,
                         month = (time.getMonth() + 1).toString(),
                         day = time.getDate().toString(),
                         href = "/bkWrapper/blog";
                         month = (month.length > 1) ? month : "0"+month;
                         day = (day.length > 1) ? day : "0"+day;
                         strMdTime = time.getFullYear()+"-"+month+"-"+ day;
                                    
                         href += "/"+item.ngID+"?_pn="+pn+"&_ps="+ps;
                %>
                <a href="javascript:<%=ctrl%>.show('<%=item.ngID%>');" class="page<%=item.ngID%>">                     
                    <span><%=item.title%></span>           
                </a>
                <span class="time"><%=strMdTime%></span>
            </li>
            <% }); %>
        <% } %>                        
    </ul>	        
</div>