<tr style="border-bottom:10px solid #1bbc9b">
	<td style="padding:10px 0px;" width="200px" align="center">
		<a href="http://tw.coimotion.com" target="_blank">
			<img src="http://tw.coimotion.com/wcoim/backstage/logo.png" alt="coimotion" width="200" height="33" border="0" style="display:block">
		</a>
	</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan="2"> 
		<br> 
		<font face="Arial, sans-serif" color="#666666" size="1.0em">
               	 您好，<strong><font size="1.8em" color="#1bbc9b"> <%=value.fname%> </font></strong>
                <br>歡迎您註冊成為<span style="color:#1bbc9b; font-weight:bold;">&nbsp;COIMOTION&nbsp;</span>的會員！
                <br>Welcome to join COIMOTION！
         </font>
     </td> 
</tr>
<tr>
     <td colspan="2">
         <font face="Arial, sans-serif" color="#666666" size="1.0em">
                <br> 您的帳號資料如下：
                <br> Your account information is as follows：
                <p style="padding:0px"></p>
          </font> 
     </td>
</tr>
<tr style="margin-top:0px">
      <td colspan="2" style="padding:10px; background:#d9e9db">
         <font face="Arial, sans-serif" color="#666666" size="1.0em"> 
                <span style="font-size:1.2em; color:#1bbc9b;">
                   	 帳號：<%=value.accName%>  &nbsp;&nbsp;&nbsp;密碼：<%=value.passwd%>
                </span>
                <!-- <br>
                <span style="font-size:1.2em; color:#1bbc9b; display:block; margin-top:10px">
                    account：******  &nbsp;&nbsp;&nbsp;password：****** 
                </span>  -->
         </font>
    </td>
</tr> 
<tr> 
	<td colspan="2">
		<font face="Arial, sans-serif" color="#666666" size="1.0em"> 
                <br> 請點選以下連結來登入您的個人帳號。      
                <br> Please click the following URL to log in to your personal account.
                <p style="padding:5px 0px 0px">
                    <a rel="nofollow" target="_blank" href="http://tw.coimotion.com/user/accAct/<%=value.actID%>" style="font-size:1.5em; color:#1bbc9b">
                    <strong>tw.coimotion.com</strong>
                    </a>
                </p>                    
                <br> 登入後您可以自行更改密碼。
                <br> After login, you can change your password yourself.
                <p></p>                    
                <br> 註：若無法點選，請直接複製下列網址後貼至瀏覽器之網址列即可。
                <br> http://tw.coimotion.com/user/accAct/<%=value.actID%>
                <br> Please note：If you can’t click the above URL, please copy the URL and paste it into your browser.
                <p></p>
                <br> 如果您有任何疑問或建議事項，歡迎您隨時上網站  
                    <a style="color:#1bbc9b" target="_blank" href="http://tw.coimotion.com"><strong>與我們聯繫</strong></a>。
                <br> If you have any questions or suggestions, we welcome you to contact us at any time 
                    <a style="color:#1bbc9b" target="_blank" href="http://www.coimotion.com"><strong>on the website</strong></a>.
                <p></p>                    
                <br> 再次感謝您對COIMOTION的支持與愛護！
                <br> Thanks for your joining and cooperation！
                <p style="padding:3px 0px"></p> 
                    Best Regards                                      
                <p style="padding:10px 0px">
                    <strong>COIMOTION 敬上</strong>
                </p>
		</font>
	</td>                
</tr>
<tr style="border-top:3px solid #1bbc9b;">
	<td colspan="2" style="font-size:1.0em; color:#666666; text-align:right; padding:15px 10px">
		<font face="Arial, sans-serif" color="#666666" size="1.0em">
			2014© GoCharm All Rights Reserved.
		</font>
	</td>                
</tr>