<!-- 右邊會員資訊開始 -->
<div class="collapse navbar-collapse maT5" id="bs-example-navbar-collapse-1">  
	<ul class="nav navbar-nav navbar-right member">  		
		<!-- 收件箱 -->
		<li class="dropdown paLR20">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	<i class="icon-envelope"></i><span id="badge">5</span>
            </a>
            <ul class="dropdown-menu teamMenu dropdown-menu-right">
            	  <li class="arrow_t_int"></li>
                  <li class="header"><p>你有1個未讀的訊息</p></li>
                  <li class="divider" role="presentation"></li>
                  <li><a href="#">
	                    <span class="subject">
		                    <span class="from">yutionPark</span>
		                    <span class="time">3天前</span>
	                    </span>
	                    <span class="message">邀請您加入團隊</span>
	                  </a>
                  </li>
                  <li class="divider" role="presentation"></li>
                  <li><a href="#">
	                    <span class="subject">
		                    <span class="from">gocharm</span>
		                    <span class="time">1天前</span>
		                    </span>
	                    <span class="message">拒絕您的團隊邀請</span>
	                  </a>
                  </li>
                  <li class="divider" role="presentation"></li>
                  <li class="external"><a href="#" id="more">看更多的訊息&nbsp;<i class="icon-double-angle-right"></i></a></li>
                  <li class="arrow_t_out"></li>
            </ul>
        </li>			            
        <!-- 會員資訊設定 -->
        <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        	<i class="icon-user maR5"></i>行動應用辦公室
	        	<i class="icon-double-angle-down fs06 maL5 paT5"></i>
	        </a>
            <ul class="dropdown-menu teamMenu dropdown-menu-left">	            
              <li class="arrow_t_int"></li>
              <li><a href="#"><i class="icon-gear maR10"></i>基本資料</a></li>
              <li><a href="#"><i class="icon-key maR10"></i>修改密碼</a></li>
              <li><a href="#"><i class="icon-power-off maR10"></i>登出</a></li>
              <li class="arrow_t_out"></li>
            </ul>
        </li>				        			        
  	</ul>
</div>
<!-- 右邊會員資訊結束 -->