 <div style="width:52em; margin: 2em auto 0; padding:0 10px; border:solid 2px #eeeeee; -moz-border-radius:5px; -webkit-border-radius:5px;
  border-radius:5px; -moz-box-shadow: 5px 5px 10px #ccc; -webkit-box-shadow: 5px 5px 10px #ccc; box-shadow: 5px 5px 10px #ccc; line-height:1.4em;
  color:#666666; size:1.0em; font-family:Arial, sans-serif; background:#fff;">
    <table style="cellpadding:0; cellspacing:0; border-collapse:collapse; margin: 0px auto;width:90%;">
        <tbody style="padding:0px 100px;">
            <tr>
                <td style="padding:40px 0px 10px; width:200px: text-align:center;">
                    <a href="tw.coimotion.com" target="_blank" style="color:#1bbc9b; font-weight:bold; text-decoration:none;">
                        <img src="http://tw.coimotion.com/wcoim/backstage/logo.png" alt="coimotion" width="200" height="33" border="0" style="display:block">
                    </a>
                </td>
                <td>&nbsp;</td>                
            </tr>  
            <tr>
                <td colspan="2" style="border-bottom:8px solid #1bbc9b; height:5px;"></td>
            </tr>