/*-------memList的設定-------*/
/*表格*/
.table {
  width: 100%;
  margin-bottom: 20px;
  height: 170px;
}
.table-bordered,
.table-bordered td {
  border-radius: 0px;
  border: 1px solid #b8d6d0;
}
/*欄位*/
.colH{
  padding: 3% 5%;
  font-size: 16px;
  line-height: 1em; 
}
.colH .btn{
  margin-top:20px;
  margin-bottom:10px;
}

/*--大頭貼設定--*/
/*第二層-灰底*/
.memiconstyle{
  margin: 0 auto;
  display:inline-block;
  text-align: center;
  vertical-align:middle; 
  background: #E4E6E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 56px;
  border-radius: 5px;
  -ms-behavior: url("htc/PIE.htc");
  position: relative;
  overflow: hidden;
  width: 90px;  
  height: 105px;
}
/*第三層-頭像位置*/
.memiconFace{ 
  color: #fff;
  background: transparent;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/*第四層-頭像大小*/
.memiconFace i {
  font-size: 7.1em;
  margin: 0px;
}

.maL10{
  margin-left: 10px;
}
.maTB10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.maR5{
  margin-left: 5px;
}
.fs14{
  font-size: 1.4em;
}
.wc20{
  width: 20%;
}
.wc80{
  width: 80%;
}
.btn {
  font-size: 0.9em;
  margin-right: 10px;
  text-align: center;
  padding: 5px 0;
} 