<!--搜尋APP後的APP清單-->
<!-- APP資訊開始 -->
<table class="maT20 wc100 table noBor">				
	<tbody>
		<tr>
			<td class="text-center wc15">								
              	<div class="searchStyle">
                  	<div class="searchApp">
                      	<i class="icon-mobile-phone"></i>
					</div>
				</div>								
			</td>
			<td class="tdC wc55">
				<h4><b>APP名稱：</b>大搜茶線</h4> 							
			</td>
			<td class="wc30 tdR text-center">	 
				<a href="#" class="btn btn-default wc45 text-center fs1" onclick="<%=ctrl%>.showAppDetail();">APP介紹</a>
				<a href="#" class="btn btn-default wc45 text-center fs1" onclick="<%=ctrl%>.showInvite();">送出邀請</a> 
			</td>
		</tr>									              
	</tbody>
</table>
