@import "wonderful.scss";


.table {	
	width: $w * 0.99;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0 20px;
	thead {
		tr {
			th {
			background: #c8c0b3;
			@include textC;
			padding: 5px;
			}
		}
	}
	tbody {
		tr{
			border-bottom: 1px solid #ddd;
			/*display: inline-table;*/
			display: run-in;
			td {
				@include td;
				vertical-align: baseline;
			}
			td:first-child {
				@include textC;
			}
			td:last-child {
				border-right: none;
				@include textC;
			}
		}		
		td {
			@include td;
			// background: #FFF;
		}
		td:last-child {
			border-right: none;
		}
	}
}