<!-- 頁首開始 -->
<div id="header">
	<!-- nav 固定上方列開始 -->
	<nav class="navbar navbar-fixed-top" role="navigation">
	    <div class="container">		    
		    <div class="navbar-header">			      
				<!-- 左邊LOGO開始　-->
		      	<a class="logo" href="http://tw.coimotion.com">
		      		<img src="../../wcoim/backstage/logo.png" class="img-responsive" alt="" style="display:inline-block;">
		      	</a>			      	
		     	<!-- 左邊LOGO結束 -->
		    </div>
		    <!-- 下拉式選單的內容 -->
			<% block('/spElement/personalMenu'); %>				
		</div><!-- /.container -->
	</nav>		
</div>
<!-- 頁首結束 -->