<div class="matter">
	<h3><%= ph.modu %></h3>   
	<div class="row">		
		<div class="col-lg-1">&nbsp;</div>
		<!-- 民宿管理模組 -->		
		<!-- <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=stInfo">
			    <span class="icon-bb"></span>
				<h4><%= ph.bb %></h4>
			</a>		    
		</div> -->		
		<!-- 網頁管理模組 -->
		<!-- <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=cms">
			    <span class="icon-web"></span>
			    <h4><%= ph.web %></h4>
			</a>
		</div> -->
		<!-- 核心模組 -->
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=core">
			    <span class="icon-core"></span>
			    <h4><%= ph.core %></h4>
			</a>
		    <!-- <h5><%= ph.manage %></h5> -->
		</div>
		<!-- 活動管理模組 -->
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=event">
			    <span class="icon-event"></span>
			    <h4><%= ph.event %></h4>
			</a>
		    <!-- <h5><%= ph.manage %></h5> -->
		</div>
		<!-- 虛擬商店模組 -->
		<div class="col-lg-2 hidden-md col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=stInfo">
			    <span class="icon-virtual"></span>
			    <h4><%= ph.virtual %></h4>
		   	</a>
		    <!-- <h5><%= ph.manage %></h5> -->
		</div>
		<!-- 社群網站模組 -->
		<div class="col-lg-2 hidden-md col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=sws">
			    <span class="icon-fb"></span>
			    <h4><%= ph.fb %></h4>
		   	</a>
		</div>
		<!-- 書目管理模組 -->
		<div class="col-lg-2 hidden-md col-sm-4 col-xs-6 maR setheight">
			<a href="/bkContents/detail?appCode=book">
			    <span class="icon-book"></span>
			    <h4><%= ph.book %></h4>
		   	</a>
		</div>
	</div>
	
	<!-- 更多功能 -->
	<div class="row">      
	    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
	        <a href="./moduleList" class="inmore"><%= ph.find %></a>
	    </div>   
	</div>	
</div>