<!-- 左側選單開始 -->

<div class="subMenu" id="<%=bi.id%>">
	
    <ul class="sidebar-menu">
    	<!-- 核心技術文件 -->
        <!-- <li class="mainmenu">
            <a href="/bkWrapper/core">                    
                <span><%= ph.core %></span>
            </a>         
        </li> -->
        
        <!-- 總覽 -->
        <li class="manage">
            <a href="/bkWrapper/docManage">                   
                <span><%= ph.overview %></span>              
            </a>
        </li> 
               
        <!-- 技術文件開始 -->
        <li class="mainmenu">
            <a href="/bkWrapper/docView/35183?logID=35190">                     
                <span><%= ph.subtitleAb %></span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35183">
                <!--  
                <li><a href="#"><%= ph.subtitleA1 %></a></li>
                <li><a href="#"><%= ph.subtitleA2 %></a></li>
                <li><a href="#"><%= ph.subtitleA3 %></a></li>
                <li><a href="#"><%= ph.subtitleA4 %></a></li>
                -->
            </ul>
        </li>

        <li class="mainmenu">
            <a href="/bkWrapper/docView/35182?logID=35189">                     
                <span><%= ph.subtitleAs %></span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35182"></ul>
        </li>

        <li class="mainmenu">
            <a href="/bkWrapper/docView/35181?logID=35188">                     
                <span><%= ph.subtitleIb %></span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35181"></ul>
        </li>

        <li class="mainmenu">
            <a href="/bkWrapper/docView/35180?logID=35187">                     
                <span><%= ph.subtitleIs %></span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35180"></ul>
        </li>

        <li class="mainmenu">
            <a href="/bkWrapper/docView/35179?logID=35186">                     
                <span>Swift</span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35179"></ul>
        </li>
        <li class="mainmenu">
            <a href="/bkWrapper/docView/35178?logID=35185">                     
                <span>PhoneGap</span>
                <i class="fa fa-chevron-down"></i>                
            </a>
            <ul class="submenu" id="menu35178"></ul>
        </li>
        <li class="mainmenu">
            <a href="/bkWrapper/docView/35177?logID=35184">
                <span>Node.js</span>
                <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu" id="menu35177"></ul>
        </li>
        <!-- 部落格 -->
        <!-- <li class="mainmenu">
            <a href="/bkWrapper/blogList?_pn=1&_ps=10">                    
                <span><%= ph.blog %></span>
            </a>         
        </li> -->        
    </ul>
   
</div>