<!--團隊的詳細介紹-->
<div class="teamlist">
	<!-- 左開始 -->		        
	<div class="teamlistL">  
        <div class="iconstyle">
          <div class="iconFace">
            <i class="icon-group"></i>
          </div>
        </div>    
    </div>
    <!-- 左結束 -->
	<!-- 右開始 -->
	<div class="teamlistR">
		<div style="margin:30px 0 0;"><h4><b>團隊名稱：</b>高誠團隊</h4></div>     
		<div style="margin:15px 0 0;"><h4><b>團隊成員：</b>小胖、小豬、圓仔</h4></div>	
	</div>
	<div class="clear"></div>
	<!-- 右結束 -->
	<!-- 下開始 -->				
	<div class="teamlistDown">
		<div><h4><b>團隊介紹：</b></h4></div>
		<p>
      	  我們結合了網際網路業界專業的菁英團隊，提供更符合時代需求的服務品質，並專注於協助客戶提昇其企業形象與企業價值，為客戶創造出更多的網路商機，爭取更多的獲利機會！提昇您企業的競爭力！
        <h5><b>全面性的整合服務</b></h5>
       	 網頁建置、網頁設計、活動宣傳、廣告曝光或專案規劃等。 透過我們的專業技術與相關實務經驗，讓所有優質服務一併整合到您的需求。
        <h5><b>專業的菁英團隊</b></h5>
     	   優秀的程式、設計、企劃與行銷團隊，著重於網路媒體與實體事業的整合，提供客戶最專業、優質及迅速的服務，讓客戶可以藉由網路的無國界與便利性，創造出更多的網路商機，爭取更多的獲利機會！
        </p>
	    
	    <div><h4><b>團隊作品：</b></h4></div>                                  
	    <div class="maT15">
	        <div class="wc25 float fs08 text-center noPaLR">
	          <div class="paLR5">
	          	<div class="appStyle">
                  	<div class="appIcon">
                      	<i class="icon-mobile-phone"></i>
					</div>
				</div>
	          </div>
	          <div class="paLR5 text-center"><b>APP名稱</b></div>		          
	        </div>

	        <div class="wc25 float fs08 text-center noPaLR">
	          <div class="paLR5">
	          	<div class="appStyle">
                  	<div class="appIcon">
                      	<i class="icon-mobile-phone"></i>
					</div>
				</div>
	          </div>
	          <div class="paLR5 text-center"><b>APP名稱</b></div>		          
	        </div>

	        <div class="wc25 float fs08 text-center noPaLR">
	          <div class="paLR5">
	          	<div class="appStyle">
                  	<div class="appIcon">
                      	<i class="icon-mobile-phone"></i>
					</div>
				</div>
	          </div>
	          <div class="paLR5 text-center"><b>APP名稱</b></div>		          
	        </div>

	        <div class="wc25 float fs08 text-center noPaLR">
	          <div class="paLR5">
	          	<div class="appStyle">
                  	<div class="appIcon">
                      	<i class="icon-mobile-phone"></i>
					</div>
				</div>
	          </div>
	          <div class="paLR5 text-center"><b>APP名稱</b></div>		          
	        </div>
	    </div>
	    <div class="clear"></div>
	    <div style="margin:15px 0;"><h4><b>合作關係：</b>主動要求、邀請中、已合作</h4></div>	    
	    <div class="btn-group maT20 maB20" style="float:right;">
		  <!-- <button type="button" class="btn btn-default text-center">回上一頁</button> -->
		  <button type="button" class="btn btn-default text-center" onclick="<%=ctrl%>.showInvite();">送出邀請</button>
		</div>	    			  
	</div><!-- teamlistDown 下結束 -->				
</div><!-- teamlist結束 -->	
