<!-- 如何使用COIMOTION -->
<div id="indexCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#indexCarousel" data-slide-to="1"></li>
		<li data-target="#indexCarousel" data-slide-to="2"></li>
		<li data-target="#indexCarousel" data-slide-to="3"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="../wcoim/theme/banner4.png" alt="coimotion">
			<div class="carousel-caption">
<!-- 				<p class="iconAn1">
					<img src="../wcoim/theme/icon-API.png" alt="coimotion" title="coimotion">
				</p> -->
				<i class="fa fa-users"></i>
				<h1>Step 1. 建立團隊</h1>
				<p>註冊登入後，建立一個團隊，您可以邀請志同道合的夥伴加入您的開發團隊。</p>
			</div>
		</div>
		<div class="item">
			<img src="../wcoim/theme/banner4.png" alt="coimotion">
			<div class="carousel-caption">
<!-- 				<p class="iconAn1">
					<img src="../wcoim/theme/icon_book.png" alt="coimotion" title="coimotion">
				</p> -->
				<i class="fa fa-plus-square"></i>
				<h1>Step 2. 新增APP</h1>
				<p>您可以將現有的行動應用程式新增進COIMOTION中，統一進行管理。利用COIMOTION的功能模組，支援App 開發時所需的各項後台功能。</p>
			</div>
		</div>
		<div class="item">
			<img src="../wcoim/theme/banner4.png" alt="coimotion">
			<div class="carousel-caption">
<!-- 				<p class="iconAn1">
					<img src="../wcoim/theme/icon2.png" alt="coimotion" title="coimotion">
				</p> -->
				<i class="fa fa-inbox"></i>
				<h1>Step 3. 內容寶庫</h1>
				<p>從豐富多元的內容集中尋找APP的創作靈感，每個內容集都有詳細的API文件介紹，您可自由地引用進APP中，做資料的混搭應用。</p>
			</div>
		</div>
		<div class="item">
			<img src="../wcoim/theme/banner4.png" alt="coimotion">
			<div class="carousel-caption">
<!-- 				<p class="iconAn1">
					<img src="../wcoim/theme/icon2.png" alt="coimotion" title="coimotion">
				</p> -->
				<i class="fa fa-list-alt"></i>
				<h1>Step 4. 自製內容集</h1>
				<p>除了COIMOTION 提供的內容集，開發者也可以自建內容集，利用COIMOTION所提供的 API 服務，以 App 來收集或儲存內容。</p>
			</div>
		</div>
	</div>


	<!-- Controls -->
	<a class="left carousel-control" href="#indexCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" style="left:10%;"></span>
	</a>
	<a class="right carousel-control" href="#indexCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" style="right:10%;"></span>
	</a>
</div>

<style type="text/css" media="screen">
	.carousel-inner .item img{
		visibility: hidden!important;
	}
	.carousel-caption{
		color: black;
	}
	.carousel-indicators li{
		border-top-color: black;
		border-right-color: black;
		border-bottom-color: black;
		border-left-color: black;
	}
	.carousel-indicators li.active{
		background: black;
	}
	p{
		font-size: 16px;
		padding-top: 2px;
	}
	i {
		font-size:5em;
		margin-top: 20px;
	}
</style>
