<!-- 左側 -->
<div id="newsSelector" ngID="<%=bi.id%>">
	<ul>
		<%
			var  pn = bi.query._pn,
				 ps = bi.query._ps ? bi.query._ps : 10,
				 entries = value.entries;
		%>
		<% if(value && value.list.length > 0) { %>
		<% value.list.forEach(function(item) { %>
			<%
				var  time = new Date(item.mdTime),
					 month = (time.getMonth() + 1).toString(),
					 day = time.getDate().toString(),
					 href = "/coim/newsManage";
					 
		 		month = (month.length > 1) ? month : "0"+month;
        		day = (day.length > 1) ? day : "0"+day;
        		strMdTime = time.getFullYear()+"-"+month+"-"+ day;
        		
        		var  itemHref = href+"/"+item.ngID+"?_pn="+pn+"&_ps="+ps;
			%>
			<a href="<%=itemHref%>" ngID="<%=item.ngID%>">
				<li>
					<h4><%= item.title %></h4>
					<span><%= strMdTime%></span>
				</li>
			</a>
		<% }); %>
		<% } %>
		<!-- 
		<a href="#"><li>
			<h4>民宿資料管理新工具</h4>
			<span>2014-07-01</span>
		</li></a>
		<a href="#"><li>
			<h4>夏季新貨到！墾丁民宿內容集來囉</h4>
			<span>2014-07-01</span>
		</li></a>
		<a href="#"><li>
			<h4>coimSDK 0.9.2更新</h4>
			<span>2014-07-24</span>
		</li></a>
		<a href="#"><li>
			<h4>新活動，駭客松</h4>
			<span>2014-05-23</span>
		</li></a>
		<a href="#"><li>
			<h4>開發團隊部落格正式與大家見面，首篇介紹CMS API</h4>
			<span>2014-07-24</span>
		</li></a>
		<a href="#"><li>
			<h4>開發團隊部落格正式與大家見面，首篇介紹CMS API</h4>
			<span>2014-05-22</span>
		</li></a>
		<a href="#"><li>
			<h4>COIMOTION SDK 0.9.1 更新</h4>
			<span>2014-05-22</span>
		</li></a>
		<a href="#"><li>
			<h4>新增後台新功能：內容編輯器QuickEdit</h4>
			<span>2014-05-22</span>
		</li></a>
		<a href="#">
			<li><h4>開發團隊部落格之二：The Store API 功能介紹</h4>
			<span>2014-05-22</span>
		</li></a>
		<a href="#"><li>
			<h4>測試</h4>
			<span>2014-05-22</span>
		</li></a>
		 -->
	</ul>
	
	<!-- pagination -->
	<div class="pagination">
		<%  pn = parseInt(pn);
			ps = parseInt(ps);
		%>
		<% if (pn == 1) { %>
		<span class="disabled">Prev</span>
		<% } else { %>
			<a class="" rel="prev start" href="/coim/newsManage?_pn=<%= pn-1 %>&_ps=<%=ps%>">Prev</a>
		<% } %>
		
		<% if (pn*ps >= entries) {%>
			<span class="disabled">Next</span>
		<% } else { %>
			<a class="" rel="next" href="/coim/newsManage?_pn=<%= pn + 1 %>&_ps=<%=ps%>">Next</a>
		<% } %>			
	</div>
</div>


