<!--APP的詳細介紹-->
<div class="applist">
    <!-- 左開始 -->
    <div class="wc20 text-center maT20 float">								
      	<div class="applistStyle">
          	<div class="applistIcon">
              	<i class="icon-mobile-phone"></i>
			</div>
		</div>								
	</div>		        
    <!-- 左結束 -->
	<!-- 右開始 -->
	<div class="wc75 float maL30">
		<div style="margin:30px 0 0;"><h4><b>團隊名稱：</b>高誠團隊</h4></div>     
		<div style="margin:15px 0 0;"><h4><b>APP名稱：</b>大搜茶線</h4></div>
		<div><h4><b>APP說明：</b>
			<span class="appAticle">
			策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...策劃中...
			</span>
			</h4>
		</div>				    
	 	<div><h4><b>下載總量：</b>2,000,000</h4></div>
	 	<div><h4><b>本月流量：</b>20,000</h4></div>
	 	<div class="btn-group maT20 maB20" style="float:right;">
		  <!-- <button type="button" class="btn btn-default text-center">回上一頁</button> -->
		  <button type="button" class="btn btn-default text-center" onclick="<%=ctrl%>.showInvite();">送出邀請</button>
		</div>
	 	<!--<div class="btn-group maT20 maB20" style="float:right;">
			<a href="#" class="btn btn-default text-center">回上一頁</a>
			<a href="#" class="btn btn-default text-center active" data-toggle="modal" data-target="#invite">送出邀請</a> 		
		</div>-->					
	</div>
	<div class="clear"></div>
    <!-- 右結束 --> 			 
</div><!-- applist結束 -->
