<form class="form-horizontal" role="form">
	<div class="row coimParams" acc="<%=value.accName%>">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
    			<label class="col-lg-2 col-md-3 col-sm-4 col-xs-11 control-label textl-right"><%= ph.oldPasswd %>：</label>          
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-11">
                 	<input type="password" class="form-control" id="text" name="oldPasswd">
                </div>
            </div>
            <div class="form-group">
    			<label class="col-lg-2 col-md-3 col-sm-4 col-xs-11 control-label textl-right"><%= ph.newPasswd %>：</label>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-11">
                    <input type="password" class="form-control" id="text" name="newPasswd" placeholder="<%= ph.least%>">                
                </div>
            </div>
        	<div class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-4 col-xs-11 control-label textl-right"><%= ph.confirm %>：</label>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-11">
                    <input type="password" class="form-control" id="text" name="newPasswd2">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn btn-green wc30" onclick="<%=ctrl%>.updatePw();"><%= ph.save %></button>
            </div>
        </div>
    </div>
</form>
