<div class="gallery">
	  <div class="img">
	  		<img src="../../wcoim/theme/banner0.png"/>
	  </div>
	  <div class="info">
	    	Make Your Contents Look Good
	  </div>
	  <div class="menu">
	      <div class="item">
	          <a href="javascript:<%=ctrl%>.selOpen('0');">
	            <img src="../../wcoim/theme/gallery11.png" 
	            	mouseout="../../wcoim/theme/gallery11.png"
	                mouseover="../../wcoim/theme/gallery12.png"/>
	          </a>
	      </div>
	      <div class="item">
	          <a href="javascript:<%=ctrl%>.selDel('1')">
	            <img src="../../wcoim/theme/gallery21.png" 
	                mouseout="../../wcoim/theme/gallery21.png"
	                mouseover="../../wcoim/theme/gallery22.png"/>
	          </a>
	      </div>
	      <div class="item">
	          <a href="javascript:<%=ctrl%>.selMon('2')">
	            <img src="../../wcoim/theme/gallery31.png" 
	                mouseout="../../wcoim/theme/gallery31.png"
	                mouseover="../../wcoim/theme/gallery32.png"/>
	          </a>
	      </div>
	  </div>
	  <div style="text-align:center;">
	  	<img src="../../wcoim/theme/shadow.png">
	  </div>
</div>
