<div class="matter" style="margin-top: 67px;border-top: 1px solid #ddd">
  <div class="container">
    <h1><span><%=value.list[0].slogn%></span></h1>
    <!-- project 1 -->
    <div class="row">    
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <a href="https://github.com/coimotion/coServ" target="_blank">
          <img src="../wcoim/backstage/fork.png" alt="coserv"></a>
        <div class="title"><a href="http://www.coservjs.org" target="_blank"><%=value.list[0].title%></a></div>
        <p><%=value.list[0].body%></p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 text-center">
      	<a href="http://www.coservjs.org" target="_blank">
          <img src="<%=value.list[0].img%>" alt="API" class="imgBlock first">
        </a>
      </div>
    </div> 
    <!-- project 2 --> 
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <a href="https://github.com/coimotion/coimPlugin" target="_blank">
          <img src="../wcoim/backstage/fork.png" alt=""></a>
        <div class="title"><a href="https://github.com/coimotion/coimPlugin" target="_blank"><%=value.list[1].title%></a></div>
        <p><%=value.list[1].body%></p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 text-center">
         <img src="<%=value.list[1].img%>" alt="Solutions" class="imgBlock">
      </div>    
    </div>
    <!-- project 3 -->
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <a href="https://github.com/coimotion/lohhasKH_android" target="_blank">
          <img src="../wcoim/backstage/fork.png" alt=""></a>
        <div class="title"><a href="https://github.com/coimotion/lohhasKH_android" target="_blank"><%=value.list[2].title%></a></div>
        <p><%=value.list[2].body%></p>      
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 text-center">
         <img src="<%=value.list[2].img%>" alt="App" class="imgBlock">
      </div>    
    </div>
    <!-- project 4 -->
    <div class="row line">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <img src="../wcoim/backstage/fork.png" alt="">
        <div class="title">
          <a href="https://github.com/coimotion/iOS-Demo-App" target="_blank">
            <%=value.list[3].title%> &gt;<span style="margin-left:10px"><%=value.list[3].body%></span>
          </a>
        </div>
        <p>
          <div class="title mL"> 
            <a href="https://github.com/coimotion/Android-Demo-App" target="_blank">
              <%=value.list[3].title2%> &gt;<span style="margin-left:10px"><%=value.list[3].body2%></span>
            </a>
          </div>
        </p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 text-center">
         <img src="<%=value.list[3].img%>" alt="Protect" class="imgBlock">
      </div>    
    </div>
    <!-- project 5 -->
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <a href="https://github.com/coimotion/coim_node" target="_blank">
          <img src="../wcoim/backstage/fork.png" alt=""></a>
        <div class="title"><a href="https://github.com/coimotion/coim_node" target="_blank"><%=value.list[4].title%></a></div>
        <p><%=value.list[4].body%></p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 text-center">
         <img src="<%=value.list[4].img%>" alt="Protect" class="imgBlock">
      </div>    
    </div>
  </div>
</div>
