.matter {
  min-height: 600px;
}

/*bar css*/
/*上方標題列右方小字*/
.page-head{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);
  padding: 3px 20px;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0px 1px 1px #fff;
  font-style: normal;
  margin-top:80px;
}
/*上方標題列左方標題字*/
.page-head h3{
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  margin-top:5px;
}
/* Bread crumb 標題列小icon */
.bread-crumb{
  font-size: 11px;
  margin-top: 10px;
  color: #aaa;
}
.bread-crumb i{
  margin-right: 3px;
}
.bread-crumb .divider{
  margin: 0px 3px;
}
.bread-crumb a{
  color: #666;
}
.bread-crumb a.bread-current{
  color: #888;
}
