<%
	var  locID = ctx.locID;
%>
<div class="muStdUl">
	<% if(locID == 1) { %>
	<ul>
		<li>
            <a href="/contents/view/5" title="items.title">
				<img src="../../wcoim/theme/contentsMenu11.png" hvImgPath="../../wcoim/theme/contentsMenu12.png" selImgPath="../../wcoim/theme/contentsMenu12.png">
			</a>
		</li>
		<li>
            <a href="/contents/view/6" title="items.title">
				<img src="../../wcoim/theme/contentsMenu21.png" hvImgPath="../../wcoim/theme/contentsMenu22.png" selImgPath="../../wcoim/theme/contentsMenu22.png">
			</a>
		</li>
		<li>
            <a href="/contents/regPage" title="items.title">
				<img src="../../wcoim/theme/contentsMenu31.png" hvImgPath="../../wcoim/theme/contentsMenu32.png" selImgPath="../../wcoim/theme/contentsMenu32.png">
			</a>
		</li>
		<li>
            <a href="/contents/view/8" title="items.title">
				<img src="../../wcoim/theme/contentsMenu41.png" hvImgPath="../../wcoim/theme/contentsMenu42.png" selImgPath="../../wcoim/theme/contentsMenu42.png">
			</a>
		</li>
	</ul>
	<% } else if(locID == 2) { %>
	<ul>
		<li>
            <a href="/contents/view/5" title="items.title">
				<img src="../../wcoim/theme/ch_Centents.png" hvImgPath="../../wcoim/theme/ch_Centents-hover.png" selImgPath="../../wcoim/theme/ch_Centents-hover.png">
			</a>
		</li>
		<li>
            <a href="/contents/view/6" title="items.title">
				<img src="../../wcoim/theme/ch_Features.png" hvImgPath="../../wcoim/theme/ch_Features-hover.png" selImgPath="../../wcoim/theme/ch_Features-hover.png">
			</a>
		</li>
		<li>
            <a href="/contents/regPage" title="items.title">
				<img src="../../wcoim/theme/ch_Apply-Account.png" hvImgPath="../../wcoim/theme/ch_Apply-Account-hover.png" selImgPath="../../wcoim/theme/ch_Apply-Account-hover.png">
			</a>
		</li>
		<li>
            <a href="/contents/view/8" title="items.title">
				<img src="../../wcoim/theme/ch_Terms-&-Conditions.png" hvImgPath="../../wcoim/theme/ch_Terms-&-Conditions-hover.png" selImgPath="../../wcoim/theme/ch_Terms-&-Conditions-hover.png">
			</a>
		</li>
	</ul>
	<% } %>
</div>