<div class="matter">
	<h3><%= ph.sdk %></h3>	
	<div class="row">
		<div class="col-lg-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

		<!-- Android -->
		<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 maR setheight text-center">		    
		    <!-- <span class="icon-android icon"></span> -->
		    <i class="fa fa-android"></i>
		    <span>ver 0.9.6.3</span>
		    <h4>Android SDK</h4>
		    <div class="link">
			    <p><a href="/bkWrapper/docView/35183?logID=35190"><%= ph.docB %></a></p>
			    <p><a href="/bkWrapper/docView/35182?logID=35189"><%= ph.docS %></a></p>			    
			</div>
		    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pa">
		    	<a href="/wcoim/SDK/COIMOTION-SDK-Android.zip" class="btn btn-github">
		    		<span class="glyphicon glyphicon-save"></span>
		    		<span>SDK</span>
		    	</a>
		    	<a href="/wcoim/SDK/COIMOTION-SDK-Android-SWS.zip" class="btn btn-github">
		    		<span class="glyphicon glyphicon-save"></span>
		    		<span>SDK (Social)</span>
		    	</a>
		    	<a href="https://github.com/coimotion/Android-Demo-App" target="_blank" class="btn btn-github">
		    		<i class="fa fa-github"></i>
					<span>Demo</span>
		    	</a>
		    </div>
		</div>
		<!-- iOS -->
		<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 maR setheight text-center">
		    <i class="fa fa-apple"></i>
		    <span>ver 0.9.6.3</span>
		    <h4>iOS SDK</h4>
		    <div class="link"> 
			    <p><a href="/bkWrapper/docView/35181?logID=35188"><%= ph.docB %></a></p>
			    <p><a href="/bkWrapper/docView/35180?logID=35187"><%= ph.docS %></a></p>		    
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pa">	    	
		    	<a href="/wcoim/SDK/COIMOTION-SDK-iOS.zip" class="btn btn-github">
		    		<span class="glyphicon glyphicon-save"></span>
		    		<span>SDK</span>
		    	</a>	    			    
		    	<a href="/wcoim/SDK/COIMOTION-SDK-iOS-SWS.zip" class="btn btn-github">
		    		<span class="glyphicon glyphicon-save"></span>
		    		<span>SDK (Social)</span>
		    	</a>
		    	<a href="https://github.com/coimotion/iOS-Demo-App" target="_blank"  class="btn btn-github">
					<i class="fa fa-github"></i>
					<span>Demo</span>
				</a>
		    </div>
		</div>
		<!-- Swift -->
		<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 maR setheight text-center">
		    <span class="icon-swift icon"></span>
		    <span>ver 0.9.6.2</span>
		    <h4>Swift SDK</h4>
		    <div class="link">
		   		<p><a href="/bkWrapper/docView/35179?logID=35186"><%= ph.doc %></a></p>
		   	</div>		   
		    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pa">
		    	<a href="/wcoim/SDK/COIMOTION-SDK-SWIFT.zip" class="btn btn-github">
		    		<span class="glyphicon glyphicon-save"></span>
		    		<span>SDK</span>
		    	</a>
		    </div>
		</div>
		<!-- PhoneGap -->
		<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 maR setheight text-center">
		    <span class="icon-phoneGap icon"></span>
		    <span>ver 0.9.6.3</span>
		    <h4>PhoneGap SDK</h4>
		    <div class="link">
		    	<p><a href="/bkWrapper/docView/35178?logID=35185"><%= ph.doc %></a></p>	
		    </div>	    
		    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pa">
		    	<a href="/wcoim/SDK/coimPlugin.zip" class="btn btn-github">
			    	<span class="glyphicon glyphicon-save"></span>
			    	<span>SDK</span>
			    </a>
		    </div>
		</div>
		<!-- nodeJs -->
		<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 maR setheight text-center">
		    <!-- <img src="../wcoim/backType/nodeJs.png" alt="nodeJs SDK"> -->
		    <span class="icon-nodeJs icon"></span>
		    <span>ver 0.9.6.2</span>
		    <h4>Node.js SDK</h4>
		    <div class="link">
		    	<p><a href="/bkWrapper/docView/35177?logID=35184"><%= ph.doc %></a></p>
		    </div>
		    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pa">
		    	<a href="https://github.com/coimotion/coim_node" target="_blank"  class="btn btn-github">
		    		<i class="fa fa-github"></i>
		    		<span>GitHub</span>
		    	</a>
		    </div>
		</div>		
	</div>
</div>