<% 
	var locID = ctx.locID
%>
<div class="muStdUl">
	<% if(locID == 1) { %>
	<ul>
		<li>
            <a href="/contents/view/5" title="items.title">
				<img src="../../wcoim/theme/menu11.png" hvImgPath="../../wcoim/theme/menu12.png" selImgPath="../../wcoim/theme/menu12.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/9" title="items.title">
				<img src="../../wcoim/theme/menu21.png" hvImgPath="../../wcoim/theme/menu22.png" selImgPath="../../wcoim/theme/menu22.png">
			</a>
		</li>
		<li>
            <a href="/contactUs/qaPage" title="items.title">
				<img src="../../wcoim/theme/menu31.png" hvImgPath="../../wcoim/theme/menu32.png" selImgPath="../../wcoim/theme/menu32.png">
			</a>
		</li>
	</ul>
	<% } else if(locID == 2) { %>
	<ul>
		<li>
            <a href="/contents/view/5" title="items.title">
				<img src="../../wcoim/theme/ch_Contents.png" hvImgPath="../../wcoim/theme/ch_Contents-hover.png" selImgPath="../../wcoim/theme/ch_Contents-hover.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/9" title="items.title">
				<img src="../../wcoim/theme/ch_Developers.png" hvImgPath="../../wcoim/theme/ch_Developers-hover.png" selImgPath="../../wcoim/theme/ch_Developers-hover.png">
			</a>
		</li>
		<li>
            <a href="/contactUs/qaPage" title="items.title">
				<img src="../../wcoim/theme/ch_contact.png" hvImgPath="../../wcoim/theme/ch_contact-hover.png" selImgPath="../../wcoim/theme/ch_contact-hover.png">
			</a>
		</li>
	</ul>
	<% } %>
</div>