 /*第一列 登入*/
    .alignL{
      /*position: absolute;
      top: 5px;
      left: 18%;
      z-index: 2;*/
      float:left;
      width:50%;
      padding: 5px 20% 5px 12%;
    }
    .alignR{
      /*position: absolute;
      top: 15px;
      right: 15%;
      z-index: 2;*/
      float:left;
      width:50%;
      padding: 10px 5%;
    }
    /*主要內容背景*/
    .re_Content{
    background: #1bbc9b;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    }
    h3{
      line-height: 1.8em;
      margin-top: 20px;
    }
    .fs13{
      font-size:1.3em;
    }    
    .backdoor{
      color: #888;
      padding-top: 5px;
      padding-left: 40px;
      font-size: 0.8em;
      letter-spacing: 1.0em;
    }
    .section{
      padding:50px 20px 0px;
      color: #fff;
      font-size: 1.3em;
    }
   h1,h2,h3,h4{
      color: #fff;
    }
   .section p{
      margin-bottom: 20px;
    }
   .birthday div{
      float: left;
      margin-right: 10px;
    }
    .form-control{
      font-size:15px;
    }
    input{
      height:38px;
    }
    /*淺綠色按鈕*/
    .btn-green {
	  color: #fff;
	  background-color: #008560;
	  border-color: #00815d;	  
	}
	.btn-green:hover,
	.btn-green:focus,
	.btn-green:active,
	.btn-green.active {
	  color: #fff;
	  background-color: #00694f;
	  border-color: #00644c;
	}
	.btn-green:active,
	.btn-green.active {
	  background-image: none;
	}
  

@media screen and (max-width: 998px) {
  .re_Content {
    margin-top: 150px !important;
  }
  .col-xs-12 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}