<!-- 表單開始 -->
<div class="form-horizontal" role="form">
	<label class="wc15 control-label float maR10 fs12 vaC">搜尋團隊：</label>
	<div class="input-group wc80 maR10">	            		
	    <input type="text" class="form-control" onkeydown="if(window.event.keyCode==13)<%=ctrl%>.searchTeam();">
	    <span class="input-group-btn">
	        <button class="btn btn-default" type="button" onclick="<%=ctrl%>.searchTeam();">
	        	<i class="icon-search fs14"></i>
	        </button>
	    </span>
	</div>                                  
</div>
<div style="clear:both;"></div>

<div class="teamShListBlock"></div>
