/*----------左側內容----------*/
/*.bkContent {
  margin: 0;
  padding: 1em;
  min-height: 820px;
  max-height: auto;  
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-right: 230px;  
  -webkit-transition: margin-right .3s ease;
  -moz-transition: margin-right .3s ease;
  -o-transition: margin-right .3s ease;
  -ms-transition: margin-right .3s ease;
  transition: margin-right .3s ease;  
}*/

.view{
  color: #666;
  font-size: 16px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif; 
  padding: 5em 35px;  
  margin: 2px auto;
}
/*版頭標題*/
.title {
  padding-left: 10px;
  padding-bottom: 20px;
  color: #049D86;
  border-bottom: 3px solid #E4E4E4;
}
/*副標*/
.tagline{
  line-height: 2em;
  color: #049D86;
  margin-top:1.2em;
}
/*時間作者*/
/*.sub{
  text-align: right;
  border-top: 3px solid #E4E4E4;
}
.strTime, .dspName {
  font-size: 0.8em;
  color: #999;
  line-height: 1.8em;
}*/
/*內文*/
.section {
  margin-top: 1em;
  padding: 5px;
}
.section  p{
  font-size: 1em;
  line-height: 1.5em;
  color: #666;
  margin-top: 15px;
  margin-bottom: 15px;
  word-wrap: break-word;
}
/*標題h3底下的段落要右縮*/
p.p_h3 {
  margin-left: 1em;
}
ul li{
  list-style-type: disc !important;
  /*color: #049D86;*/
  line-height: 2em;
}
ul li a{
  /*color: #049D86;*/
}
ul li a:hover{
  color: #666;
}
/*小標*/
.subtitle{
  font-size: 1.6em;
  font-weight: bolder;  
  line-height: 2.8em;
  text-indent: 0.5em;  
  color: #666;
  margin-top:1.2em;
}
h3{
  font-weight: bolder;
  line-height: 2.8em;
  text-indent: 0.5em;  
  color: #666;
  margin-top:1.2em;
}
/*段落*/
p + .subtitle,
pre + p,
pre + p.subtitle,
ul + p {
  margin-top: 2em !important;
}
/*程式碼*/
pre {
  margin: 0px !important;
  padding: 2px 0px !important;
}
pre code {
  font-size: 16px;
  line-height: 26px;
  border-radius: 2px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;  
}
/*表格*/
.wc30 {
  width: 30%;
}
.wc40 {
  width: 40%;
}
table{
  margin: 10px;
  border: 1px solid #ddd;
}
th {
  text-align: center;
}
td, th {
  padding: 10px 10px 10px 20px;
  border: 1px solid #ddd;
}
/*回頂端*/
.gotop {
  display: block;
  float: right;
  margin-right: 0;
  margin-top: 2em;
  font-size: 14px;
  color: #ccc;
}
.gotop:hover{
  color: #666;
}