<!--內容集的維護頁面_C6-->
<!-- 分頁內容 -->
<div class="widget">
	<!-- Widget content-->
	<div class="widget-content">
			<!--  左側開始 -->
			<div class="wc80 float">
				<!-- 表單開始 -->
				<form class="form-horizontal">
					<div class="form-group">
						<label class="wc30 control-label text-right float">內容集代碼：</label>
						<div class="wc70 float paL15">
							<input type="text" class="form-control" id="text" value="" name="" disabled>					
						</div>
					</div>
					<div class="form-group">
						<label class="wc30 control-label text-right float">內容集名稱：</label>
						<div class="wc70 float paL15">
							<input type="text" class="form-control" id="text" value=""  name="title">
						</div>
					</div>
					<div class="form-group">
						<label class="wc30 control-label text-right float">內容集說明：</label>
						<div class="wc70 float paL15">
							<textarea class="form-control" id="text" name="descTx"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="wc30 control-label text-right float">最後修改日期：</label>
						<div class="checkbox wc70 paL15 float"> 2014.03.28	</div>
					</div>
					<div class="form-group">
						<label class="wc30 control-label text-right float">是否公開：</label>
						<div class="checkbox wc70 paL35 float">										                
			                <input type="checkbox" name="isPub" value=""  style="margin-top:8px;"> 公開此內容集						            	
						</div>
					</div>								
				</form>
			</div>
			<!--  左側結束 -->
			<!--  右側開始 -->
			<div class="wc10 float">
				<!-- 禁止按鈕列開始 -->								 
				<div class="stop">
					<!-- <a href="#"><i class="icon-lock"></i> -->
					<!-- <i class="icon-unlock"></i> -->
					</a>
				</div>											 
				<!-- 禁止按鈕列結束 -->
			</div>
			<!--  右側結束 -->
		    <div class="clear"></div>
								
		    <div class="text-center maTB30">
			    <button type="button" class="btn btn-info wc20">修改</button>
		    </div>						
	</div>
	<!-- widget-content結束 -->
</div>
<!-- widget結束 -->