#header {
  padding: 0 10px;
  margin: 0;   
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 1);  
} 
.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.logo {
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}
.icon-bar {
  background: #999;
}
/* #menu */ 
.collapse {
  display: block;
}
ul.navbar-nav.navbar-right:last-child {
  margin-right: 3em;
  margin-top: 5px;
} 
li.bu {
  float: left;
  padding: 0px;
  margin: 20px;
  text-align: center;
  color: #111;
  font-size: 1.2em;
  display: inline-block;                
  line-height: 48px; 
  /*position: relative;*/
}
li.bu.active,
li.bu:focus,
li.bu:hover,
li.bu:active {
  /*color: #26a3ea;*/
  color: #00adee;
}

li.dropdown:hover a {
  background: transparent;
  color: #26a3ea;
}
.dropdown-toggle {
  display: block;
  text-align: center;  
  color: #111;
  background: transparent;
  border: none;
  padding: 0px;
  margin: 0;
  margin-top: -16px; /**/
}
/*language*/
ul.dropdown-menu {
  width: 120px;
  min-width: 120px;
  max-width: 120px;        
  background: #00adee;
  border: none;
  box-shadow: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  z-index: 1001;
}       
ul..dropdown-menu li a {
  padding: 5px 15px;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
}
ul.dropdown-menu a:active, 
ul.dropdown-menu a:hover, 
ul.dropdown-menu a:focus, 
ul.dropdown-menu a:visited, 
ul.dropdown-menu a.active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbar-nav > .open .dropdown {
  background: transparent; 
}      
.navbar-nav > .open  > a {
  background: transparent;
} 
.navbar-nav > .open  > a:hover,
.navbar-nav > .open  > a:focus,
.navbar-nav > .open  > a:active,
.navbar-nav > .open  > a:visited {
  background: transparent;
}

/* =======================================
   Mobile STYLE
   ======================================= */

.mobile .container {
  width: 100% !important;
}
.mobile .navbar-header {
  float: none !important;
}
.mobile .logo {
  margin-left: 30px !important;
}
.mobile .icon-bar {
  width: 70px!important;
  height: 4px!important;
  line-height: 60px!important;
  margin-top: 8px!important;
}
.mobile .collapse {
  background: rgba(255, 255, 255, 1) !important;
  margin-left: auto !important;  
  margin-right: auto !important; 
  width: 100% !important; 
} 
.mobile .navbar-right {
  float: left !important;
}
.mobile .ul.navbar-nav.navbar-right:last-child {
   margin-right: 0px !important;
}
.mobile .navbar-toggle {
  margin-top: 20px !important;
}  
.mobile li {
  padding-top: 20px !important;
  padding-bottom: 20px !important; 
  margin-left: 30px !important;
  margin-right: 20px !important;
  line-height: 50px !important;
  font-size: 42px !important;   
}
.mobile .dropdown-toggle {
  margin-top: -16px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding-top: 0px !important;
  padding-bottom: 20px !important; 
  line-height: 18px !important;
  font-size: 42px !important;
  width: 250px !important;   
}
.mobile .dropdown-menu {  
  width: 100% !important;
  min-width: 100% !important;
  max-height: 100% !important; 
  padding: 15px 0 150px!important;  
  background: #00adee !important;
  text-align: center !important;  
}
.mobile .dropdown-menu li a {
  font-size: 42px !important;
  line-height: 22px !important;
  color: #fff !important;
  display: block !important;
  margin: 0 -40px !important;
  
}
.mobile .active:active, 
.mobile .active:hover, 
.mobile .active:focus, 
.mobile .active:visited, 
.mobile .active.active {
  border-bottom-width: 6px !important; 
}
.mobile .arrow:active, 
.mobile .arrow:hover, 
.mobile .arrow:focus, 
.mobile .arrow:visited, 
.mobile .arrow.active {
  border-width: 12px !important;    
  top: 75% !important;
}

@media screen and (max-width: 784px) {
  .ul.navbar-nav.navbar-right:last-child {
     margin-right: -10px !important;
  }
  .dropdown-toggle {
     margin-top: 0px !important;
     padding-top: 0px !important;
     padding-bottom: 0px !important;
  } 
}