<div style="width: 100%; text-align:center;  margin: 0 auto;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;">
<table border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse:collapse;">
  <tbody>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;">
       <a href="http://tw.coimotion.com" target="_blank"><img src="http://tw.coimotion.com/wcoim/email/0702/b1.jpg" style="display: block;" alt="coimotion" /></a></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b2.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b3.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b4.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b5.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b6.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b7.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b8.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b9.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b10.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b11.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b12.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;">
       <a href="http://coimotion.kktix.cc/events/workshop02" target="_blank"><img src="http://tw.coimotion.com/wcoim/email/0702/b13.jpg" style="display: block;" alt="coimotion" /></a></td>
       <td style="padding: 0;  vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b14.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
    <tr>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b15.jpg" style="display: block;" alt="coimotion" /></td>
       <td style="padding: 0; vertical-align: top; text-align: center;"><img src="http://tw.coimotion.com/wcoim/email/0702/b16.jpg" style="display: block;" alt="coimotion" /></td>
    </tr>
  </tbody>  
</table>
</div>