
<!-- <h4>課程簡介</h4>
<ol class="wc27">
  <li>文創產業與智慧財產權概述</li>
  <li>著作權與商標面面觀</li>
  <li>設計專利面面觀</li>
  <li>營業秘密面面觀</li>
  <li>公有文化資產加值應用</li>
  <li>公有文創資產商品化實務</li>
  <li>博物館授權實務</li>
  <li>創用CC授權機制與實務</li>
</ol>
<ol class="wc32">
  <li>文創授權機制與策略</li>
  <li>文創商品開發設計</li>
  <li>授權商品經營管理</li>
  <li>Value up 的文創產業商業模式設計</li>
  <li>授權契約擬訂與商業談判</li>
  <li>中國大陸智財權法規說明</li>
  <li>海外智財侵權與訴訟案例</li>
  <li>創櫃板運用與創意集資</li>
</ol>
<ul class="va">
  <li>※本會保留課程更動權，如有異動請以最新公告為準</li>
</ul>  -->
<%=value.body%>
<div class="clear"></div>
