<div class="matter">
	<!-- 右側選單開始 -->
	<div class="blogRight">
		<span class="overview"><%= ph.overview %></span>
		<ul class="blogTitle">
		<% if(value && value.list.length > 0) { %>
			<% value.list.forEach(function(item) { %>
			<li class="blogItem" ngID="<%=item.ngID%>">
				<%  
					var  time = new Date(item.mdTime),
						 pn = bi.query._pn,
						 ps = bi.query._ps,
						 month = (time.getMonth() + 1).toString(),
						 day = time.getDate().toString(),
			 			 href = "/bkWrapper/blog";
			 		month = (month.length > 1) ? month : "0"+month;
	        		day = (day.length > 1) ? day : "0"+day;
	        		strMdTime = time.getFullYear()+"-"+month+"-"+ day;
	        					
					href += "/"+item.ngID+"?_pn="+pn+"&_ps="+ps;
				%>
				<a href="javascript:<%=ctrl%>.show('<%=item.ngID%>');" class="page<%=item.ngID%>">                     
	                <span><%=item.title%></span>           
	            </a>
	            <span class="time"><%=strMdTime%></span>
			</li>
			<% }); %>
		<% } %>					
		</ul>
		
		<!-- 左右換頁控制鈕 -->
		<!-- 
		<div class="autoMarLR">
			<% 
			var  hf = "/bkWrapper/blogList";
				 
			var  viewNum = 5,
				 pn = parseInt(bi.query._pn),
				 ps = parseInt(bi.query._ps),
				 entries = parseInt(value.entries),
				 pnTotal = Math.ceil(entries / ps);
				 
			if (pnTotal > 1) { 
			%>
			<ul class="pagination chang">
				<%  if (pn != 1) { %>
				<%  var prev = pn - 1; %>
				<li><a href="<%=hf%>?_pn=<%=prev%>&_ps=<%=ps%>">&laquo;</a></li>
				<li><a href="<%=hf%>?_pn=1&_ps=<%=ps%>">1</a></li>
				<% } %>
				<% if ((pn - viewNum) > viewNum) { %>
				<li class="disabled"><a href="#">...</a></li>
				<% } %>
				<%  var start = pn - viewNum;
					if (start < 2)
						start = 2;
					for (var i=start; i<pn; i++) {
				%>
				<li><a href="<%=hf%>?_pn=<%=i%>&_ps=<%=ps%>"><%=i%></a></li>
				<% } %>
				<li class="now"><a href="#"><%=pn%></a></li>
				<%  var start = pn + 1,
					 	end = pn + viewNum;
					if (end > pnTotal)
						end = pnTotal;
					for (var i=start; i<=end; i++) {
				%>
				<li><a href="<%=hf%>?_pn=<%=i%>&_ps=<%=ps%>"><%=i%></a></li>
				<% } %>
				<% if ((pnTotal-pn) > viewNum) { %>
				 <li class="disabled"><a href="#">...</a></li>
				<% } %>
				<%  
					var  next = pn + 1;
					if (pn !== pnTotal) { 
				%>
				<li><a href="<%=hf%>?_pn=<%=next%>&_ps=<%=ps%>">&raquo;</a></li>
				<% } %>
			</ul>
			<% } %> 	
		</div>
		 -->
		<!-- 左右換頁控制鈕結束 -->		

	</div>
	<!-- 右側選單結束 -->

	<!-- 左側內容開始 -->
	<div class="bkContent">
		<!-- #view開始-->
		<!-- 
		<div class="view">	
			<div class="type">
				<h1 class="title"><%= value.title %></h1>
				<h2 class="tagline"><%= value.summary %></h2>
			</div>
			<div class="sub">
				<span class="strTime"><%= strMdTime %> / </span>
				<span class="dspName"><%= value.dspName %></span>
			</div>
			
			<div class="section">
				
		    	<p class="subtitle"><h3><%= ph.subtitle1 %></h3></p>

				<p><%= ph.section1 %></p>
				

				<p class="subtitle"><h3><%= ph.subtitle2 %></h3></p>

				<p><%= ph.section2 %></p>

				<pre><code><%= ph.code1 %></code></pre>

				<p><%= ph.section3 %></p>

				<pre><code><%= ph.code2 %></code></pre>

				<p><%= ph.section4 %></p>

				<pre><code><%= ph.code3 %></code></pre>

				<p><%= ph.section5 %></p>
				
				

				<p class="subtitle"><h3><%= ph.subtitle3 %></h3></p>

				<p><%= ph.section6 %></p>

				<pre><code>&lt;h2&gt;Hello World!&lt;/h2&gt;<%= ph.code5 %></code></pre>

				<p><%= ph.section7 %></p>

				

				<p class="subtitle"><h3><%= ph.subtitle4 %></h3></p>

				<p><%= ph.section8 %></p>

				<pre><code><%= ph.code6 %></code></pre>

				<p><%= ph.section9 %></p>

				<pre><code><%= ph.code7 %></code></pre>
			
				<p><%= ph.section10 %></p>

				<p><%= ph.section11 %></p>

				<p>&nbsp;</p>

				<p class="subtitle"><h3><%= ph.subtitle5 %></h3></p>		
				<ul>
				    <li><a href="./structure.html"><%= ph.list1 %></a></li>
				    <li><a href="./layout.html"><%= ph.list2 %></a></li>
				</ul>
			
			</div>
		 
			<a href="#view" class="gotop"><i class="fa fa-chevron-up"></i></a>
			
		</div>
		 -->
		<!-- #view結束 -->	
	</div>
	<!-- 左側內容結束 -->
</div>
<div class="clearfix"></div>