<!-- header 上方導覽列開始 -->
	<header>
       <div class="row">
        <div class="col-md-0 col-md-offset-3">
          <div class="header-data">
                        
            <!-- APP管理 -->
            <a href="/app/list" title="APP管理">
              <div class="hdata">
              <div class="mcol-left">
                <i class="icon-magic bwhite"></i>
                <i class="icon-mobile-phone bwhite"></i> 
              </div>
              <div class="mcol-right">
                <p>APP管理</p>
              </div>
              <div class="clearfix"></div>
              </div>
            </a> 

            <!-- 內容寶庫 -->
            <a href="/bkContents/manage" title="內容寶庫">
              <div class="hdata">
              <div class="mcol-left">
                <i class="icon-list-alt bwhite"></i> 
              </div>
              <div class="mcol-right">
                 <p>內容寶庫</p>
              </div>
              <div class="clearfix"></div>
            </div>   
           </a>
            <!-- 自製內容 -->
            <a href="/bkContents/manage" title="自製內容">
              <div class="hdata">
              <div class="mcol-left">
                <i class="icon-table bwhite"></i> 
              </div>
              <div class="mcol-right">
                <p>自製內容</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </a> 

            <!-- 統計數字 -->
            <a href="/statistics/manage" title="統計數字">
            <div class="hdata">
              <div class="mcol-left">
                <i class="icon-tasks bwhite"></i> 
              </div>
              <div class="mcol-right">
                <p>統計數字</p>
              </div>
              <div class="clearfix"></div>
            </div>               
          </a>
         </div> 
         <!-- header-data 結束 -->
        </div> 
        <!-- col 結束 -->
      </div> 
      <!-- row 結束 -->
    </header>
   <!-- header 上方導覽列結束 -->