<%
	var  locID = ctx.locID;
%>
<div class="muStdUl">
	<% if(locID == 1) { %>
	<ul>
		<li>
            <a href="/developers/view/9" title="items.title">
				<img src="../../wcoim/theme/devMenu11.png" hvImgPath="../../wcoim/theme/devMenu12.png" selImgPath="../../wcoim/theme/devMenu12.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/10" title="items.title">
				<img src="../../wcoim/theme/devMenu21.png" hvImgPath="../../wcoim/theme/devMenu22.png" selImgPath="../../wcoim/theme/devMenu22.png">
			</a>
		</li>
		<li>
            <a href="/developers/regPage" title="items.title">
				<img src="../../wcoim/theme/devMenu31.png" hvImgPath="../../wcoim/theme/devMenu32.png" selImgPath="../../wcoim/theme/devMenu32.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/12" title="items.title">
				<img src="../../wcoim/theme/devMenu41.png" hvImgPath="../../wcoim/theme/devMenu42.png" selImgPath="../../wcoim/theme/devMenu42.png">
			</a>
		</li>
	</ul>
	<% } else if(locID == 2) { %>
		<ul>
		<li>
            <a href="/developers/view/9" title="items.title">
				<img src="../../wcoim/theme/ch_Empower_Ds.png" hvImgPath="../../wcoim/theme/ch_Empower-hover_Ds.png" selImgPath="../../wcoim/theme/ch_Empower-hover_Ds.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/10" title="items.title">
				<img src="../../wcoim/theme/ch_Monetize_Ds.png" hvImgPath="../../wcoim/theme/ch_Monetize-hover_Ds.png" selImgPath="../../wcoim/theme/ch_Monetize-hover_Ds.png">
			</a>
		</li>
		<li>
            <a href="/developers/regPage" title="items.title">
				<img src="../../wcoim/theme/ch_Join-Now_Ds.png" hvImgPath="../../wcoim/theme/ch_Join-Now-hover_Ds.png" selImgPath="../../wcoim/theme/ch_Join-Now-hover_Ds.png">
			</a>
		</li>
		<li>
            <a href="/developers/view/12" title="items.title">
				<img src="../../wcoim/theme/ch_-Terms-&-Conditions_Ds.png" hvImgPath="../../wcoim/theme/ch_Terms-&-Conditions-hover_Ds.png" selImgPath="../../wcoim/theme/ch_Terms-&-Conditions-hover_Ds.png">
			</a>
		</li>
	</ul>
	<% } %>
</div>
