<!-- 左側內容開始 -->
<%  
	var  time = new Date(value.mdTime),
		 pn = bi.query._pn,
		 ps = bi.query._ps,
		 month = (time.getMonth() + 1).toString(),
		 day = time.getDate().toString();
		month = (month.length > 1) ? month : "0"+month;
  	day = (day.length > 1) ? day : "0"+day;
  	
  	var  strMdTime = time.getFullYear()+"-"+month+"-"+ day;
%>
<div class="view" id="view">	
	<div class="type">
		<h1 class="title"><%= value.title %></h1>
		<h2 class="tagline"><%= value.summary %></h2>
	</div>
	<div class="sub">
		<span class="strTime"><%= strMdTime %> / </span>
		<span class="dspName"><%= value.dspName %></span>
	</div>
	
	<div class="section">		
    	<%=value.body%>
	</div>
	 
	<a href="#" class="gotop"><i class="fa fa-chevron-up"></i></a>
	<!--
		<div class="row_down">
			<div class="column">
				<a type="button" class="pull-left" href="#"><i class="icon-angle-left"></i>&nbsp; PREV PAGE</a>
				<a type="button" class="pull-right" href="#">NEXT PAGE &nbsp;<i class="icon-angle-right"></i></a>			
		    </div>
		</div> 
	-->
</div>
