<!-- 右側內容開始 -->
<div class="bkManage">
	<h3><%= ph.module %></h3>   
	<a href="/bkContents/detail?appCode=BnB" title="<%= ph.bb %>">
		<div class="row">
			<!-- 民宿管理模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">
				<span class="icon-bb"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.bb %></h4>
			    <p><%= ph.areabb %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=cms" title="<%= ph.web %>">
		<div class="row">
			<!-- 網頁管理模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">
			    <span class="icon-web"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.web %></h4>
			    <p><%= ph.areaWeb %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=core" title="<%= ph.core %>">
		<div class="row">
			<!-- 核心模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">				    
			    <span class="icon-core"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
				<h4><%= ph.core %></h4>
			    <p><%= ph.areaCore %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=event" title="<%= ph.event %>">
		<div class="row">
			<!-- 活動管理模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">			    
			    <span class="icon-event"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.event %></h4>
			    <p><%= ph.areaEvent %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=stInfo" title="<%= ph.virtual %>">
		<div class="row">
			<!-- 虛擬商店模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">				    
			    <span class="icon-virtual"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.virtual %></h4>
			    <p><%= ph.areaVirtual %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=sws"  title="<%= ph.fb %>">
		<div class="row">
			<!-- 社群網站模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">
			    <span class="icon-fb"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.fb %></h4>
			    <p><%= ph.areaFb %></p>
			</div>
		</div>
	</a>
	<a href="/bkContents/detail?appCode=books"  title="<%= ph.book %>">
		<div class="row">
			<!-- 書目管理模組 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 maR">
			    <span class="icon-book"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 paL section">
			    <h4><%= ph.book %></h4>
			    <p><%= ph.areaBook %></p>
			</div>
		</div>
	</a>
</div>