@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-susij');
	src:url('fonts/icomoon.eot?#iefix-susij') format('embedded-opentype'),
		url('fonts/icomoon.woff?-susij') format('woff'),
		url('fonts/icomoon.ttf?-susij') format('truetype'),
		url('fonts/icomoon.svg?-susij#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-library:before {
	content: "\e611";
}
.icon-android:before {
	content: "\e600";
}
.icon-art:before {
	content: "\e601";
}
.icon-bb:before {
	content: "\e602";
}
.icon-book:before {
	content: "\e603";
}
.icon-bus:before {
	content: "\e604";
}
.icon-core:before {
	content: "\e605";
}
.icon-event:before {
	content: "\e606";
}
.icon-fb:before {
	content: "\e607";
}
.icon-iOS:before {
	content: "\e608";
}
.icon-nodeJs:before {
	content: "\e609";
}
.icon-phoneGap:before {
	content: "\e60a";
}
.icon-race:before {
	content: "\e60b";
}
.icon-railway:before {
	content: "\e60c";
}
.icon-stores:before {
	content: "\e60d";
}
.icon-swift:before {
	content: "\e60e";
}
.icon-virtual:before {
	content: "\e60f";
}
.icon-web:before {
	content: "\e610";
}
