<!--送出邀請的畫面C4-2-->
<div class="invitelist">			        
	<!-- 表單開始 -->
	<form class="form-horizontal">
		<div class="form-group maT30">
			<label class="wc20 control-label text-right float vaC">邀請的團隊名稱：</label>
			<div class="wc78 float paL15">
				<input type="text" class="form-control" id="text" value="" name="">		
			</div>
		</div>
		<div class="form-group maT30">
			<label class="wc20 control-label text-right float vaC">給團隊的訊息：</label>
			<div class="wc78 float paL15">
				<textarea class="form-control" id="text" name="descTx"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="wc20 control-label text-right float vaC">選擇團隊的APP：</label>
			<div class="wc78 float paL15">
				<select class="form-control drop">
				  <option class="dropList">台鐵火車時刻表查詢</option>
				  <option class="dropList">高鐵時刻表查詢</option>
				  <option class="dropList">全台客運時刻表查詢</option>								  
				</select>								
			</div>
		</div>
		<div class="form-group">
			<label class="wc20 control-label text-right float vaC">釋出的內容集：</label>
			<div class="wc78 float paL15">
				<select class="form-control drop">
				  <option>農產品有機認證</option>
				  <option>有機農業全台資訊網</option>
				  <option>產銷合格認證</option>								  
				</select>								
			</div>
		</div>
		<div class="form-group pull-right paR15">
		<a href="#" class="btn btn-default wc100 text-center fs1 paLR20">確定</a>
		</div>								
</div>
<!-- invitelist結束 -->
