<!-- 右邊選單開始 -->
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <!-- 首頁 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 subMenu">
    	<a href="/bkWrapper/manage" class=""><%= ph.developers %></a>
    </div>
    <!-- 技術文件 -->
    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 subMenu">
    	<a href="/bkWrapper/docManage" class=""><%= ph.doc %></a>
    </div>
    <!-- 部落格 -->
    <div class="col-lg-3 col-md-2 col-sm-3 col-xs-3 subMenu">
    	<a href="/bkWrapper/blogList" class=""><%= ph.blog %></a>
    </div>
    <!-- 討論版 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 subMenu">
    	<a href="/coimotion/forum" class=""><%= ph.forum %></a>
    </div>    
</div>
<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>