<!--搜尋團隊得到的團隊清單-->
<!-- 團隊資訊開始 -->
<table class="maT30 wc100 table noBor">				
	<tbody>
		<tr>
			<td class="text-center wc15">								
              	<div class="searchStyle">
                  	<div class="searchFace">
                      	<i class="icon-group"></i>
					</div>
				</div>								
			</td>
			<td class="tdC wc55">
				<h4><b>團隊名稱：</b>yuting</h4>     
				<h4><b>團隊成員：</b>yuting、yuan、chloe、shu</h4>
			</td>
			<td class="wc30 tdR text-center">
			  <button type="button" class="btn btn-default text-center fs1" onclick="<%=ctrl%>.showTeamDetail();">團隊介紹</button>
			  <button type="button" class="btn btn-default text-center fs1" onclick="<%=ctrl%>.showInvite();">送出邀請</button>
			</td>
			<!--<td class="wc30 tdR text-center">			
				<a href="#" class="btn btn-default wc45 text-center fs1 active">團隊介紹</a>								
				<a href="#" class="btn btn-default wc45 text-center fs1" data-toggle="modal" data-target="#invite">送出邀請</a> 
			</td>-->
		</tr>									              
	</tbody>
</table>