<footer>
	<div class="footerUp">
		<a href="http://coimotion-blog.logdown.com/" target="_blank"><img src="../../wcoim/theme/blog.png" alt="blog" class="fa-spin"></a>
		<a href="https://www.facebook.com/coimotion" target="_blank"><img src="../../wcoim/theme/facebook.png" alt="facebook" class="fa-spin"></a>
		<a href="http://tw.coimotion.com/coimotion/forum"><img src="../../wcoim/theme/comment.png" alt="comment" class="fa-spin"></a>
	</div>
	<div class="footerDown">Copyright © 2014  GOCHARM All Rights Reserved.</div>
</footer>