@import "coserv.scss";
@include link;

.article {  
  color: $fc4;
  font-size: $fs1 * 0.85;
  font-family: $ff1;
  padding: 40px;
  .title {
    color: $fc3;  
    font-size: $fs1 * 0.8;
    line-height: $fs1 * 2; 
    padding-bottom: $fs1; 
    @include bolder(1px, solid, #2EA0D1);     
    h1 {
      font-weight: 900;  
      @include pa(1em, 1em);
    }
    h3 {
       @include pa(1.5em, 1.5em);
    }
  }
  //時間作者
  .sub {
    margin: 1em 2em 2em;
    @include pa(1em, 1em);
    text-align: right;  
    .strTime, .dspName {
      font-size: $fs1;
      color: $fc3;
      line-height: $fs1 * 2;
    }
  }
  //內文
  .section {
    margin-top: 1em;
    padding-top: 3px;  
    p {  
      font-size: $fs1 * 1.5;
      line-height: $fs1 * 1.5;
      color: #666;
      margin-top: 15px;
      margin-bottom: 15px;
      word-wrap: break-word;    
      //內文標題
      p.subtitle {
        font-weight: 900;
        font-size: $fs1 * 1.6;
        line-height: $fs1 * 2.8;
        text-indent: $fs1 * 0.5;  
        color: #666;
        margin-top: 1.2em;  
      }
      h3 {
        color: #666;
      } 
    }   
    p + .subtitle,
    pre + p,
    pre + p.subtitle,
    .subtitle + p.subtopic {
      margin-top: $fs1 * 2;
    }
    pre code {
      font-size: 16px;
      border-radius: 2px;
      padding: 5px 5px 0;
    }
    ul li {
      list-style-type: none;
      color: #2EA0D1;
      line-height: 2em;
      a {
        color: #2EA0D1;
        &:hover {
          color: $fc4;
          text-decoration: none;
        }
      }
    }
  }
}
//分頁按鈕
.down {
  width: $w1 - +5%;
  margin: 40px auto;
  .pagination {
    @include wrapper {
      font-family: $ff2;
      font-size: $fs1;
      text-transform: uppercase;
      color: #fff;
      font-weight: normal;
      text-align: center;
      clear: both;
      margin: 30px auto 0;
    }          
    a, span {
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      -ms-border-radius: 2em;
      -o-border-radius: 2em;
      border-radius: 2em;
      border: 4px solid #ddd;
      padding: .8em 1em .7em 1em;
      margin: 0 1em;  
      color: #fff;
    }
    a {
      background: #599CCE;
      &:hover {
        background: #FFF;
        color: #000;
        border-color: #599CCE;
      }
    }
    span {  
      background: #999;
    }
  }
}
    