<!--費用設定的畫面_C7-->
<!-- 分頁內容 -->
<div class="widget">											
		<!-- Widget content-->
		<div class="widget-content">	
			<!-- 本期表單開始 -->
			<div class="region">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="wc25 float control-label text-right">本服務期間：</label>
						<div class="wc70 float paL15">												
								<div class="wc48 float control-label borBK1"> &nbsp;</div>
								<div class="wc4 float control-label">～&nbsp;</div>
								<div class="wc48 float control-label borBK1"> &nbsp;</div>												
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">本服點數設定：</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">列表點數（基本點數）：</label>
								<div class="wc62 float control-label borBK1 maL15">&nbsp;</div>
								<div class="wc5 float control-label">點</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">&nbsp;</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">詳載點數：</label>
								<div class="wc62 float control-label borBK1 maL15">&nbsp;</div>
								<div class="wc5 float control-label">點</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">&nbsp;</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">寫入點數：</label>
								<div class="wc62 float control-label borBK1 maL15">&nbsp;</div>
								<div class="wc5 float control-label">點</div>													
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">本期每月支付上限：</label>
						<div class="wc70 float paL15">
							<div class="wc5 float control-label paR15">$</div>												
							<div class="wc90 float control-label borBK1 text-left">&nbsp;</div>
			                <div class="wc5 float control-label">元</div>		
						</div>
					</div>																	
				</form>
			</div>
			<!--  region結束 -->
			<div class="borBG2">&nbsp;</div>
			<!-- 下期表單開始 -->
			<div class="region">
				<form class="form-horizontal">										
					<div class="form-group">
						<label class="wc25 float control-label text-right">下服點數設定：</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">列表點數（基本點數）：</label>
								<div class="wc62 float maL15">
									<input type="text" class="form-control">
								</div>
								<div class="wc5 float control-label">點</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">&nbsp;</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">詳載點數：</label>
								<div class="wc62 float maL15">
									<input type="text" class="form-control">														
								</div>
								<div class="wc5 float control-label">點</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">&nbsp;</label>
						<div class="wc70 float paL15">
							<div class="wc100">
								<label class="wc30 float control-label">寫入點數：</label>
								<div class="wc62 float maL15">
									<input type="text" class="form-control">
								</div>
								<div class="wc5 float control-label">點</div>													
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">下期每月支付上限：</label>
						<div class="wc70 float paL15">												
							<div class="wc95 float">										                
								<input type="text" class="form-control" placeholder=" $ ">
							</div>
			                <div class="wc5 float control-label">元</div>		
						</div>
					</div>
					<div class="form-group">
						<label class="wc25 float control-label text-right">下服務期間：</label>
						<div class="wc70 float paL15">												
								<div class="wc48 float"><input type="text" class="form-control"></div>
								<div class="wc2 float control-label">～</div>
								<div class="wc50 float"><input type="text" class="form-control"></div>									
						</div>
					</div>
																					
				</form>
			</div>
			<div class="wc100 text-center maT10">
				<button type="button" class="btn btn-info wc20">確認</button>
			</div>	
			<!--  region結束 -->												
	</div>
	<!-- widget-content結束 -->
</div>
<!-- widget結束 -->