<div style="width:50em; margin: 2em auto 0; padding:0 10px; border:solid 2px #eeeeee; -moz-border-radius:5px; -webkit-border-radius:5px; 
border-radius:5px; -moz-box-shadow: 5px 5px 10px #ccc; -webkit-box-shadow: 5px 5px 10px #ccc; box-shadow: 5px 5px 10px #ccc; 
line-height:1.4em; color:#666666; size:1.0em; font-family:Arial, sans-serif; background:#fff;">

    <table style="cellpadding:0; cellspacing:0; border-collapse:collapse; margin: 0px auto;width:90%;">
        <tbody style="padding:0px 100px;">
			<tr>
				<td style="padding:20px 0px 10px; width:200px: text-align:center;">
                   	<a href="tw.coimotion.com" target="_blank" style="color:#1bbc9b; font-weight:bold; text-decoration:none;">
                        <img src="http://tw.coimotion.com/wcoim/backstage/logo.png" alt="coimotion" width="200" height="33" border="0" style="display:block">
                    </a>
                </td>
                <td>&nbsp;</td>                
            </tr>  
            <tr>
                <td colspan="2" style="border-bottom:8px solid #1bbc9b; height:5px;"></td>
            </tr>          
            <tr>
                <td colspan="2">
                    <br> 親愛的開發者，您好：<p></p>
                    <p style="text-indent:32px;">
                    	謝謝您支持<a href="http://tw.coimotion.com" target="_blank" style="color:#1bbc9b; font-weight:bold; text-decoration:none;">&nbsp;COIMOTION&nbsp;</a>後端服務平台。
                    	為了讓開發者夥伴了解<a href="http://tw.coimotion.com" target="_blank" style="color:#1bbc9b; font-weight:bold; text-decoration:none;">&nbsp;COIMOTION&nbsp;</a>
                    	如何協助開發者有效獲利，我們推出了「瘋藝文」這個示範App。主要內容為高雄市藝文活動查詢，再搭配高雄市公車路線查詢與公車到站的即時資訊。
                    	「瘋藝文」Android/iOS版本的程式碼皆已開放在GitHub上，並採用MIT License。您可下載後改寫成屬於自己的App，並歡迎您套用您所熟悉的行動廣告方案，將App上架後帶來收益！
                    </p> 
                    <p style="text-indent:32px;">
                    同時我們提供了Android/iOS的SDK，以及相關說明文件，您可前往官網上的「技術文件」專區進一步了解COIMOTION API與COIMOTION SDK的使用方式。
                    </p>           
                </td> 
            </tr>
            <tr>
                <td colspan="2" style="font-size:1.0em; color:#666666;">                    
                    <p style="text-indent:32px;"> 目前平台已新增了一些內容集，未來將陸續提供民間商業資料等各式豐富內容集。在此誠摯邀請您來體驗
                    	<a href="http://tw.coimotion.com/" target="_blank" style="color:#1bbc9b; font-weight:bold; text-decoration:none;">
                    	&nbsp;COIMOTION</a>
                    	，並告訴我們您的想法。我們團隊也將持續不懈地努力讓這個平台變得更好，為各位的開發經驗創造更棒的價值。</p>
                </td>
            </tr>
                         
			<tr> 
                <td colspan="2" style="font-size:1.0em; color:#666666;"> 
                    <br> 再次感謝您的支持！
                    <p><strong>COIMOTION</strong> 團隊 敬上 </p>
                </td>                
            </tr>
            <tr>
            	<td colspan="2">&nbsp;</td>
            </tr>            
            <tr>
                <td colspan="2" style="padding:10px; background:#d9e9db; color:#666666;">                     
                    <p style="padding-left:20px; margin-top:8px;">
                        •&nbsp; <a href="#" style="text-decoration:none; color:#666;"> GitHub </a>下載「瘋藝文」Demo APP：
                        <a href="https://github.com/coimotion/Android-Demo-App" target="_blank" style="color:#1bbc9b; text-decoration:none; font-weight:bold;">Android</a>版本、
                        <a href="https://github.com/coimotion/iOS-Demo-App" target="_blank" style="color:#1bbc9b; text-decoration:none; font-weight:bold;">iOS</a>版本
					</p>
					<p style="padding-left:20px; margin-bottom:5px; margin-top:-5px;">	
						•&nbsp; <a href="http://www.coimotion.com/bkIndexPapers/list/7745?_pn=1&_ps=5" target="_blank" style="color:#1bbc9b; text-decoration:none; font-weight:bold;">COIMOTION技術文件專區</a>													
					</p>
					<p style="padding-left:20px;">
						•&nbsp; 歡迎到<span style="color:#1bbc9b; font-weight:bold;">&nbsp;COIMOTION</span> 臉書粉絲專頁
						  <a href="https://www.facebook.com/coimotion" target="_blank" style="color:#1bbc9b; text-decoration:none; font-weight:bold;">
						  <img src="http://tw.coimotion.com/wcoim/theme/fb.png" alt="coimotion" width="18" height="18" border="0" 
						   style="display:inline-block; margin-left:5px;"></a>&nbsp;按讚追蹤最新消息。
                    </p>              
                </td>
            </tr>
            <tr>
            	<td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="border-top:3px solid #1bbc9b; height:3px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:1.0em; color:#666666; text-align:right; padding:15px 10px 20px;">
                    2014© GoCharm All Rights Reserved.
                </td>                
            </tr> 
        </tbody>
    </table>
</div>